app/code/Asoft/DiConfig/etc/unit_conversion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="conversion_map" type="conversion_mapType">
        <xs:unique name="uniqueUnit">
            <xs:selector xpath="unit" />
            <xs:field xpath="@id" />
        </xs:unique>
    </xs:element>
    <xs:complexType name="conversion_mapType">
        <xs:sequence>
            <xs:element type="unitType" name="unit" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="uniqueTargetUnit">
                    <xs:selector xpath="conversion" />
                    <xs:field xpath="@to" />
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="unitType">
        <xs:sequence>
            <xs:element type="conversionType" name="conversion" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="unitId" name="id" use="required" />
        <xs:attribute type="measurementType" name="type" use="required" />
    </xs:complexType>
    <xs:complexType name="conversionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="targetUnitType" name="to" use="required" />
                <xs:attribute type="factorType" name="factor" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="unitId">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="targetUnitType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="measurementType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="weight" />
            <xs:enumeration value="fluid" />
            <xs:enumeration value="distance" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="factorType">
        <xs:annotation>
            <xs:documentation> Factor to convert base unit to target unit </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>